html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1px;

  font-size: 2em;
}

.score-row {
  font-size: 2em;
  font-weight: bold;

  display: flex;
  gap: 1px;
}

.score-row span {
  flex: 0 1 30%;
}

.score-row span.score {
  flex: 1 0 auto;
}

.rune-type-row {
  flex: 0 1 auto;

  display: flex;
  gap: 1px;
}

.rune-type {
  flex: 0 1 auto;
}

.rune-type-row span {
  flex: 1 0 8%;
}

.stat-row {
  flex: 0 1 auto;

  display: flex;
  gap: 1px;
}

.stat-row span.label {
  flex: 0 1 10%;
}

.label {
  font-weight: 500;
}

.stat-row span {
  flex: 0 1 2.8%;
}

.stat-row span.filler {
  flex: 1 0 auto;
}

.btn.selected {
  background-color: slategray;
  color: black;
  font-weight: bold;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}

span {
  text-align: center;
}

.odd {
  background-color: darkslategray;
}
