html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1px;

  font-size: 1.0em;
  user-select: none;
  font-weight: 600;
}

.menu {
  flex: 0 1 auto;

  display: flex;
  justify-content: flex-end;

  gap: 5px;
  margin: 10px;
}

.menu > * {
  flex: 0 1 auto;
  padding: 2px;
  display: flex;
  align-items: center;
  font-size: 0.5em;
}

.scorer {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 1px;
}

.slider.row {
  height: 34px;
}

.button.row {
  padding: 0px 5px;
  height: 28px;
}

.score-row span,
.row span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-row {
  font-size: 2em;
  font-weight: bold;

  display: flex;
  gap: 1px;
}

.score-row span {
  flex: 0 1 30%;
}

.score-row span.score {
  flex: 1 0 auto;
}

.btn {
  border-radius: 2px;
  height: 100%
}

.btn:hover {
  color: black;
  background-color: rgb(200, 200, 0);
  cursor: pointer;
}

.btn.selected {
  color: black;
  background-color: rgb(0, 200, 0)
}

.slider.stat-row {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 4% auto 1%;
  gap: 1px;
}

.slider.stat-row .value {
  font-weight: bold;
}

.button.stat-row {
  font-size: .75em;
  display: grid;
  align-items: center;
  grid-template-columns: 10% repeat(47, 1fr);
  gap: 1px;
}

.button.stat-row .value {
  font-weight: bold;
}

.label {
  font-weight: 500;
}

span {
  text-align: center;
}

.row.odd {
  background-color: darkslategray;
}

.slider {
  appearance: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  height: 50%;
  outline: none;
}

.odd .slider {
  background: rgba(0, 0, 0, 0.2);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(147, 166, 185);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(147, 166, 185);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: rgb(200, 200, 0);
}