html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1px;

  font-size: 1.0em;
  user-select: none;
  font-weight: 600;
}

.row {
  height: 34px;
}

.score-row span,
.row span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-row {
  font-size: 2em;
  font-weight: bold;

  display: flex;
  gap: 1px;
}

.score-row span {
  flex: 0 1 30%;
}

.score-row span.score {
  flex: 1 0 auto;
}

.stat-row {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 4% auto 1%;
  gap: 1px;
}

.label {
  font-weight: 500;
}

span {
  text-align: center;
}

.odd {
  background-color: darkslategray;
}

.slider {
  appearance: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  height: 50%;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.odd .slider {
  background: rgba(0, 0, 0, 0.2);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(147, 166, 185);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(147, 166, 185);
  cursor: pointer;
}